/* Top Sale Template */
#top-sale {
    .owl-carousel .owl-nav button {
        position: absolute;
        top: 30%;
        outline: none;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        font-size: 3rem;
        color: $color-primary;
        margin-left: -3.5rem;
        padding: 0 1rem;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .owl-carousel .owl-nav button.owl-next span {
        font-size: 3rem;
        color: $color-primary;
        margin-right: -3.5rem;
        padding: 0 1rem;
    }
    .owl-carousel .item .product a {
        overflow: hidden;
    }
    .owl-carousel .item .product img {
        width: 150px;
        height: 200px;
        object-fit: contain;
        margin: 20px auto;
        transition: scale 0.5s ease;
    }
    .owl-carousel .item .product img:hover {
        scale: 1.1;
    }
}
